<?xml version="1.0" encoding="UTF-8"?>
<suite name="GoFood Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.gofood.Utility.ListenersUtility">
        </listener>
    </listeners>
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="phoneNumber" value="3626483168"/>
        <parameter name="OTP" value="1234"/>
        <classes>
            <class name="com.gofood.TestCases.UserLoginTest"/>
            <class
                    name="com.gofood.TestCases.UserLoginAndLogoutTest"/>
            <class
                    name="com.gofood.TestCases.SearchPlaceAndSelectRestroTest"/>
            <class
                    name="com.gofood.TestCases.SearchPlaceAndSelectRestroIncreaseProductTest"/>
            <class
                    name="com.gofood.TestCases.OrderFoodViaCepaatTest"/>
            <class
                    name="com.gofood.TestCases.ChooseCuisineTest"/>
            <class
                    name="com.gofood.TestCases.AddMoreDishFromCheckoutPageTest"/>
            <class
                    name="com.gofood.TestCases.CheckRestroQuantityCountAndCheckoutCountTest"/>
        </classes>
    </test>
    <!-- Test -->

</suite>
